@import 'app_sidebar';

body {
  background-color: $background--light;

  &.page-loaded{
  	.content-wrapper{
  		display: block;
  	}

  	.page-loader{
  		display: none;
  	}
  }
}

label{
	font-weight: normal;
}

#view {
	background-color: #fff;
}

.page-loader {
	position: fixed;
	width: 100%;
	height: 100%;

	i {
		display: block;
		margin: auto;
	  font-size: 10px;
	  text-indent: -9999em;
	  width: 11em;
	  height: 11em;
	  border-radius: 50%;
	  background: #ffffff;
	  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	  background-position: center center;
	  position: relative;
	  -webkit-animation: load3 1.4s infinite linear;
	  animation: load3 1.4s infinite linear;
	  -webkit-transform: translateZ(0);
	  -ms-transform: translateZ(0);
	  transform: translateZ(0);
		position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	  &:before {
	    width: 50%;
	    height: 50%;
	    background: #ffffff;
	    border-radius: 100% 0 0 0;
	    position: absolute;
	    top: 0;
	    left: 0;
	    content: '';
	  }

	  &:after {
	    background: #eee;
	    width: 75%;
	    height: 75%;
	    border-radius: 50%;
	    content: '';
	    margin: auto;
	    position: absolute;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	  }
	}

}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.row.content {
	height: 600px;
	background-color: #fff;
}

.content-wrapper{
	display: none;
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
  	height: auto;
  }
}
