Filter:
<div class="btn-group btn-group-sm" role="group" aria-label="...">
	<button ng-class="{active: selectedFilter === 'completed'}" ng-click="setFilter('completed')" type="button" class="btn btn-default"><span ng-bind="completed.length" class="badge"></span> Completed</button>
	<button ng-class="{active: selectedFilter === 'late'}" ng-click="setFilter('late')" type="button" class="btn btn-default"><span ng-bind="late.length" class="badge">0</span> Late</button>
	<button ng-class="{active: selectedFilter === 'all'}" ng-click="setFilter('all')" type="button" class="btn btn-default"><span class="badge" ng-bind="tasks.length">0</span> All</button>
</div>