<div ng-class="{'edit-mode': isEdit, 'error': error}" class="task">
	<label ng-class="status">
		<input ng-change="completeTask()" ng-model="task.isCompleted" ng-disabled="isEdit" type="checkbox" name="task-{{task.id}}" />
		<span class="description">
			<span ng-bind="task.description"></span>
			<span ng-bind="'@' + task.user.alias" class="user-alias"></span>
			<span ng-bind="dueDateText" class="due-date"></span>
		</span>
		<input class="description-field" ng-model="fullDescription" type="text" />
		<small ng-bind="error"></small>
    <app-user-suggestion data-selected-user="selectedUser" data-search-term="userSearchTerm"></app-user-suggestion>
  </label>
  <button ng-click="editMode(true)" type="button" class="edit btn btn-default btn-xs">
    <i class="glyphicon glyphicon-pencil"></i>
  </button>
  &nbsp;
  <button ng-click="deleteTask()" type="button" class="delete btn btn-default btn-xs">
    <i class="glyphicon glyphicon-trash"></i>
  </button>
</div>
