<div ng-class="{show: open}" class="composer task edit-mode">
  <input disabled type="checkbox" name="new-task" />
  <input placeholder="type new task, @owner, M/d" class="description-field" ng-disabled="disabled" ng-model="fullDescription" type="text" />
  <small ng-bind="error"></small>
  <app-user-suggestion data-selected-user="selectedUser" data-search-term="userSearchTerm"></app-user-suggestion>
</div>
<div>
  <button ng-click="toggleComposer()" class="open-composer btn btn-link">+ Add Task</button>
</div>