<ul class="dropdown-menu" ng-class="{show:  show}" role="listbox">
  <li ng-repeat="suggestion in suggestions track by $index" ng-click="selectMatch($index)" role="option">
    <a>
      <span ng-bind="suggestion[userProperty]"></span>
    </a>
  </li>
</ul>

