.project-holder{
  &.loading{
    &:before{
      background: rgba(241, 241, 241, 0.75);
      position: fixed;
      display: block;
      content: ' ';
      top: 0;
      bottom: 0;
      width: 100%;
      z-index: 2;
    }
    &:after{
      content: 'Loading...';
      font-size: 15pt;
      text-align: center;
      width: 100%;
      display: block;
      position: absolute;
      top: 30px;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 5;
    }
  }

  .header{
    margin-top: 15px;

    [app-project-name-holder]{
      width: 100%;
    }

    .btn-group{
      margin-right: 10px;
    }
  }

}
