[app-project-name-holder]{
	.title-input{
		color: #777777;
		font-size: 16pt;
		width: 100%;
		border: none;
		background: transparent;
		box-shadow: none;

		&:focus{
			@extend .form-control;
			font-size: 16pt;
			padding-left: 0;
		}
	}
}
