[app-task-holder]{
  .description{
	  font-size: 18px;
	  margin-left: 6px;

	  .user-alias,
	  .due-date{
	  	color: transparentize(#666, 0.3);
	  }

	}
	.task{
	  padding: 8px;
	  cursor: default;
    position: relative;

	  &:hover{
	  	background: transparentize($background--light, 0.5);
	  }

	  input[type="checkbox"]{
	    width: 17px;
	    height: 17px;
	    vertical-align: sub;
	  }

	  .description-field{
	  	display: none;
      background: transparent;
	  }


	  &.edit-mode{
      label{
        width: 90%;
      }

			.description-field{
		  	display: inline;
		  	width: 90%;
		    border: 0;
		    font-size: 18px;
		    margin-left: 6px;
		  }

		  .description{
		  	display: none;
		  }

		  .edit,
	    .delete{
	      display: none;
	    }

	    &:hover{
		    .edit,
		    .delete{
		      display: none;
		    }
		  }

		  &.error{
		  	small{
		  		display: inline;
		  	}

		  	.description-field{
		  		border: thin solid $red;
		  	}
		  }
	  }

	  .edit{
	    margin-left: 10px;
	  }

	  .edit,
	  .delete{
	    display: none;
	  }

	  &:hover{
	    .edit,
	    .delete{
	      display: inline;
	    }
	  }

	  label{

		  &.completed{
		  	.description{
		  		text-decoration: line-through;
		  		color: #ccc;

		  		.user-alias,
				  .due-date{
				  	color: #ccc;
				  }
		  	}
		  }

		  &.late{
		  	.description{
		  		color: $red;

		  		.user-alias,
				  .due-date{
				  	color: $red;
				  }
		  	}
		  }

	  }
	  small{
	  	display: none;
	  	margin-left: 28px;
	  	color: $red;
	  	font-style: italic;
	  }
	}
}