[app-task-composer]{
	@extend [app-task-holder];
	
  .open-composer{
    font-size: 18px;
  }

  .composer{
  	display: none;

  	&.show{
  		display: block;
  	}

  	small{
	  	display: inherit;
	  }
  }

}