[app-user-suggestion],
app-user-suggestion{
  position: absolute;
  left: 35px;
  top: 35px;

  .dropdown-menu{
  	cursor: pointer;
    
    &.show{
      display: block;
    }

    li{
    	a{
    		&:hover{
    			background: $blue;
    		}
    	}
    }
  }
}