<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title ng-bind="pageTitle"></title>
	<meta name="description" content="Arremate test">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="css/main.css">
</head>
<body ng-class="bodyClass + (isPageLoaded ? ' page-loaded' : '')">

	<div class="page-loader">
		<i></i>
	</div>

	<div class="content-wrapper ">

		<div class="container-fluid">
			<div class="row content">

				<div ng-hide="!currentUser" class="col-sm-3 sidenav">
					<h4>Super Project Manager</h4>
					<div app-user-summary data-user="currentUser"></div>
					<hr>
  				<h3><small>Projects</small></h3>
					<ul ng-repeat="project in projects" class="nav nav-pills nav-stacked">
						<li ui-sref-active="active"><a ui-sref="project({ id: project.id })">{{project.name}}</a></li>
					</ul><br>
					<div class="text-center">
						<button ui-sref-active="active" ui-sref="new-project" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i> New Project</button>
					</div>
				</div>

				<div id="view" ng-class="currentUser ? 'col-sm-9' :'col-sm-12'" class="col-sm-9">
					<div ui-view></div>
				</div>

			</div>
		</div>

	</div>

	<script async defer src="js/main.js"></script>
</body>
</html>
