<div class="project-holder" ng-class="{loading: vm.loading}">
  <div class="header">
    <div class="row">
      <div class="col-md-5">
        <div app-project-name-holder data-project="vm.project" data-autofocus="vm.isNew"></div>
      </div>
      <div class="col-md-7 text-right">
        <div ng-if="!vm.isNew">
          <div app-project-summary data-tasks="vm.tasks" data-selected-filter="vm.selectedFilter"></div>
          <button ng-click="vm.deleteProject()" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i> Delete Project</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="tasks-holder">
  	<div app-project-task-list data-tasks="vm.tasks" data-selected-filter="vm.selectedFilter"></div>
  	<div app-task-composer data-disabled="vm.isNew" data-open="vm.isNew" data-project-id="vm.project.id"></div>
  </div>
</div>
