<div class="signin text-center">
  <h2>Super Project Manager</h2>
  <form ng-submit="vm.submit(form)" name="form" class="form-signin">
    <h4 class="form-signin-heading">Please sign in</h4>
    <label class="sr-only">Username</label>
    <input minlength="3" ng-model="vm.user.alias" type="text" class="form-control" placeholder="Username" required autofocus />

    <label class="sr-only">Password</label>
    <input minlength="3" ng-model="vm.user.password" type="password" class="form-control" placeholder="Password" required />

    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <br>
    <p>
      or
      <br>
      <a ui-sref="signup" href="#">Create an account</a>
    </p>
  </form>
</div>