<div class="signin text-center">
  <h2>Super Project Manager</h2>
  <form ng-submit="vm.submit(form)" name="form" class="form-signin">
    <h4 class="form-signin-heading">Create Account</h4>
    <label class="sr-only">Name</label>
    <input minlength="3" ng-model="vm.user.name" type="text" class="form-control" placeholder="Name" required autofocus />

    <label class="sr-only">Username</label>
    <input minlength="3" ng-model="vm.user.alias" type="text" class="form-control" placeholder="Unique Username" required />

    <label class="sr-only">E-mail</label>
    <input minlength="3" ng-model="vm.user.email" type="email" class="form-control" placeholder="E-mail" required />

    <label class="sr-only">Password</label>
    <input minlength="3" ng-model="vm.user.password" type="password" class="form-control" placeholder="Password" required />
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <br>
    <p>
      or
      <br>
      <a ui-sref="signin" href="#">Sign in</a>
    </p>
  </form>
</div>